#### Carrega bibliotecas

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import glob

### Montando drive do Google Drive

In [9]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

#### Carrega dataset

In [10]:
infracao_aux_2018 = []
infracao_aux_2019 = []
infracao_aux_2020 = []


#le todos os arquivos de 2020
for doc in glob.glob("/content/drive/MyDrive/Colab Notebooks/autos_de_infracao/2020/*"):
    infracao_aux = pd.read_csv(doc,sep=";",encoding="latin-1",low_memory=False)
    infracao_aux.columns=["tipo_infracao",
                          "descricao",
                          "tipo_infrator",
                          "tipo_veiculo",
                          "data_cometimento",
                          "hora_cometimento",
                          "local_rodovia",
                          "local_km",
                          "local_referencia",
                          "local_complemento",
                          "latitude",
                          "longitude",
                          "gravidade"]
    infracao_aux_2020.append(infracao_aux)

    
   
#le todos os arquivos de 2019
for doc in glob.glob("/content/drive/MyDrive/Colab Notebooks/autos_de_infracao/2019/*"):
    infracao_aux = pd.read_csv(doc,sep=";",encoding="latin-1",low_memory=False)
    infracao_aux.columns=["tipo_infracao",
                          "descricao",
                          "tipo_infrator",
                          "tipo_veiculo",
                          "data_cometimento",
                          "hora_cometimento",
                          "local_rodovia",
                          "local_km",
                          "local_referencia",
                          "local_complemento",
                          "latitude",
                          "longitude",
                          "gravidade"]
    infracao_aux_2019.append(infracao_aux)


#le todos os arquivos de 2018
for doc in glob.glob("/content/drive/MyDrive/Colab Notebooks/autos_de_infracao/2018/*"):
    infracao_aux = pd.read_csv(doc,sep=";",encoding="latin-1",low_memory=False)
    if infracao_aux.shape[1] == 6:
        infracao_aux.columns=["tipo_infracao",
                              "descricao",
                              "tipo_infrator",
                              "tipo_veiculo",
                              "data_cometimento",
                              "hora_cometimento",]
    else:
        infracao_aux.columns=["tipo_infracao",
                              "descricao",
                              "tipo_infrator",
                              "tipo_veiculo",
                              "data_cometimento",
                              "hora_cometimento",
                              "local_rodovia",
                              "local_km",
                              "local_referencia",
                              "local_complemento",
                              "latitude",
                              "longitude",
                              "gravidade"]
    infracao_aux_2018.append(infracao_aux)

In [12]:
infracao = pd.concat(infracao_aux_2020,ignore_index = True)
infracao = pd.concat(infracao_aux_2019,ignore_index = True)
infracao = pd.concat(infracao_aux_2018,ignore_index = True)

infracao.head().T

                                                                   0  ...                                                  4
tipo_infracao                                                 7455-0  ...                                             7579-0
descricao           Transitar em velocidade superior à máxima per...  ...   Recusar-se a ser submetido a teste exame clín...
tipo_infrator                                              Condutor   ...                                          Condutor
tipo_veiculo                                              AUTOMOVEL   ...                                         Automóvel
data_cometimento                                         01/07/2018   ...                                        01/07/2018
hora_cometimento                                            00:01     ...                                              00:03
local_rodovia                                                    NaN  ...                                                NaN
local_km                                                         NaN  ...                                                NaN
local_referencia                                                 NaN  ...                                                NaN
local_complemento                                                NaN  ...                                                NaN
latitude                                                         NaN  ...                                                NaN
longitude                                                        NaN  ...                                                NaN
gravidade                                                        NaN  ...                                                NaN

[13 rows x 5 columns]

In [13]:
infracao.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395758 entries, 0 to 395757
Data columns (total 13 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   tipo_infracao      395758 non-null  object
 1   descricao          395758 non-null  object
 2   tipo_infrator      395758 non-null  object
 3   tipo_veiculo       393141 non-null  object
 4   data_cometimento   395758 non-null  object
 5   hora_cometimento   395758 non-null  object
 6   local_rodovia      294256 non-null  object
 7   local_km           119404 non-null  object
 8   local_referencia   124419 non-null  object
 9   local_complemento  69511 non-null   object
 10  latitude           120109 non-null  object
 11  longitude          120109 non-null  object
 12  gravidade          294256 non-null  object
dtypes: object(13)
memory usage: 39.3+ MB

In [14]:
infracao.shape

(395758, 13)

In [16]:
## verificando a quantidade de nulos
infracao.isnull().sum().sort_values()

tipo_infracao             0
descricao                 0
tipo_infrator             0
data_cometimento          0
hora_cometimento          0
tipo_veiculo           2617
local_rodovia        101502
gravidade            101502
local_referencia     271339
latitude             275649
longitude            275649
local_km             276354
local_complemento    326247
dtype: int64

### Limpeza dos dados

In [18]:
## dropando colunas nulas não utilizadas
infracao = infracao.drop(columns=['longitude','latitude','local_complemento','local_referencia','blocal_km'])
infracao.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395758 entries, 0 to 395757
Data columns (total 8 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   tipo_infracao     395758 non-null  object
 1   descricao         395758 non-null  object
 2   tipo_infrator     395758 non-null  object
 3   tipo_veiculo      393141 non-null  object
 4   data_cometimento  395758 non-null  object
 5   hora_cometimento  395758 non-null  object
 6   local_rodovia     294256 non-null  object
 7   gravidade         294256 non-null  object
dtypes: object(8)
memory usage: 24.2+ MB

In [19]:
## tratando valores nulos
tipo_veiculo_moda = infracao['tipo_veiculo'].mode().to_string()
print(type(tipo_veiculo_moda))
infracao['tipo_veiculo'].fillna(value = tipo_veiculo_moda, inplace=True)
infracao.isnull().sum().sort_values()

<class 'str'>

tipo_infracao            0
descricao                0
tipo_infrator            0
tipo_veiculo             0
data_cometimento         0
hora_cometimento         0
local_rodovia       101502
gravidade           101502
dtype: int64

In [23]:
infracao[infracao['data_cometimento'] == '01/02/2018'].head()

Empty DataFrame
Columns: [tipo_infracao, descricao, tipo_infrator, tipo_veiculo, data_cometimento, hora_cometimento, local_rodovia, gravidade]
Index: []